@media (min-width:700px){
	.navContainer
	{
		position:static;
		display:flex;
		flex-direction:row;
		justify-content:center;
		width:1504px;
	}
}

.navItem{
	font-weight:bold;
	text-align:center;
	font-size:15px;
	padding:15px;
	height:48px;
	margin:3px;
	margin-top:14px;
	margin-left:3px;
	margin-right:20px;
}

.centerBox{
    
}

a:hover{
	background-color:#e1e1e1;
	color:pink;
}

a:active{
	color:darkblue;
}

.center{
    text-align:center;
}